.h1 {
    font-family: 'Caveat', cursive;
    color: rgb(182, 101, 55);
}

main {
    max-height: 932px;
    width: 100vh;
    background-color: rgb(182, 101, 55);
}

div {
font-family: 'Caveat', cursive;
max-height: 300px;
width: 50%;
border: 5px;
outline: 1px solid rgb(190, 91, 24);
margin: 1rem;
padding: 1rem;
background-color: rgb(235, 209, 97);
}